<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soa.springcloud.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.soa.springcloud.entities.Comment">
            <id property="tweetId" column="tweet_id" jdbcType="INTEGER"/>
            <id property="floor" column="floor" jdbcType="INTEGER"/>
            <result property="contents" column="contents" jdbcType="VARCHAR"/>
            <result property="recordTime" column="record_time" jdbcType="TIMESTAMP"/>
            <result property="unifiedId" column="unified_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        tweet_id,floor,contents,
        record_time,unified_id
    </sql>

    <select id="maxFloor" resultType="Integer">
        SELECT MAX(floor)
        FROM comment
        WHERE tweet_id=#{tweetId};
    </select>

</mapper>
