<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soa.springcloud.mapper.PositionMapper">

    <resultMap id="BaseResultMap" type="com.soa.springcloud.entities.Position">
            <id property="jobId" column="job_id" jdbcType="INTEGER"/>
            <result property="pictureUrl" column="picture_url" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="reward" column="reward" jdbcType="VARCHAR"/>
            <result property="workPlace" column="work_place" jdbcType="VARCHAR"/>
            <result property="contactWay" column="contact_way" jdbcType="VARCHAR"/>
            <result property="limitation" column="limitation" jdbcType="VARCHAR"/>
            <result property="positionType" column="position_type" jdbcType="VARCHAR"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="unifiedId" column="unified_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        job_id,picture_url,state,
        description,reward,work_place,
        contact_way,limitation,position_type,
        job_name,unified_id
    </sql>
</mapper>
